div#root-div {
    height: 100vh;
    width: 100%;
    margin: 0;    
}

div#header {
    height: 10%;
    color: white;
    background-color: #293049;
    font-size: larger;
    font-family: 'Roboto', Tahoma, sans-serif;
}

div#root-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    background-image: url('../assets/images/image.webp');
    background-repeat: round;    
}

div#footer {
    height: 5%;
    background-color: #09090A;
    color: white;
    font-size: medium;
    font-family: 'Roboto', Tahoma, sans-serif;
}