
<div class="container-fluid text-center" id="header">
  <div class="row">
    <div class="col text-center">
      <p>Pluto 1.0 - Your Truly Exam Preparation is Here</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center " id="root-content">
  <div class="row">
    <div class="col text-center">
      <router-outlet />
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="footer">
  <div class="row">
    <div class="col text-center">
      <p>Copyright 2024 - A product by Geniosity Company</p>
    </div>
  </div>
</div>