<div id="root-div">

  <div class="container-fluid text-center" id="header">
    <div class="row">
      <div class="col text-center">
        <h1>PLUTO</h1>
        <p>A product by Geniosity</p>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center" id="root-content">
    <div class="row">
      <div class="col text-center">
        <router-outlet />
      </div>
    </div>
  </div>
  <div class="container-fluid text-center" id="footer">
    <div class="row">
      <div class="col text-center">
        <p>Copyright 2024 - Geniosity</p>
      </div>
    </div>
  </div>
</div>