#dashboard-container-root {    
    height: 100%;
    width: 100%;
}

.row {       
    margin-top: 5px; 
    height: 50%;
    width: 100%;    
}

.col {
    width: 20%;    
}

.card {    
    height: 85%;
    background-color: rgba(243, 243, 243, 0.966);
}