#home-container-root {
    color: white;
    background-color: white;
    height: 85vh;
    width: 197.80vh;
}

.sidebar-container {
    border-radius: 0%;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    height: 85vh;
    background-color: #10101E;    
}

.list-group-item {
    width: 100%;
    color: white;
    border-color: transparent;
    background-color: rgba(71, 67, 67, 0.397);
}

.bi {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: -0.125em;
    fill: currentColor;
}

.main-content {
    background-color: white;
}