#home-container-root {            
    color: white;
    background-color: white;
    height: 85vh;
    width: 197.80vh;
}

.sidebar-container {
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 85vh;    
    background-color: #10101E;
}

.list-group-item {
    width: 100%;
    color: white;
    background-color: rgba(71, 67, 67, 0.397);
}