<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="cart" viewBox="0 0 16 16">
        <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
        </path>
    </symbol>   
    <symbol id="door-closed" viewBox="0 0 16 16">
        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z">
        </path>
        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
    </symbol>
    <symbol id="file-earmark-text" viewBox="0 0 16 16">
        <path
            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
        </path>
        <path
            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z">
        </path>
    </symbol>
    <symbol id="house-fill" viewBox="0 0 16 16">
        <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z">
        </path>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"></path>
    </symbol>
    <symbol id="people" viewBox="0 0 16 16">
        <path
            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z">
        </path>
    </symbol>
</svg>


<div class="container-fluid" id="home-container-root">
    <div class="row">
        <div class="col-2 sidebar-container list-group border-right">
            <a routerLink="/home/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item">
                <svg class="bi">
                    <use xlink:href="#house-fill"></use>
                </svg>
                Dashboard
            </a>
            <a routerLink="/home/meus-simulados" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item">
                <svg class="bi">
                    <use xlink:href="#file-earmark-text"></use>
                </svg>                
                Meus Simulados
            </a>
            <a routerLink="/home/loja-simulados" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item">
                <svg class="bi">
                    <use xlink:href="#cart"></use>
                </svg>
                Loja de Simulados
            </a>
            <a routerLink="/home/forum" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item">
                <svg class="bi">
                    <use xlink:href="#people"></use>
                </svg>
                Forum
            </a>
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="list-group-item">
                <svg class="bi">
                    <use xlink:href="#door-closed"></use>
                </svg>
                Logout
            </a>
        </div>
        <div class="col-10 main-content">
            <router-outlet />            
        </div>
    </div>
</div>